
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: azure;
}
nav .nav-header{
  text-decoration: none;
  color: black;
}
nav > ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
} 
li{
  padding: 0px 10px;
  cursor: pointer;
}

.home{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60px;
  width: 60px;
}

.banner img{
  cursor: pointer;
  width: 50%;
}