:root{
  --background : #fafafa;
  --secondary : #e3e3e3;
  --button-color : #ee6f57;
  --nav-color : #cb3737;
}

body{
  background-color: var(--background);
}

/* nav */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: var(--nav-color);
}
a{
  text-decoration: none;
  color: white;
}
nav > ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
} 
nav > ul > li{
  padding: 0px 10px;
  cursor: pointer;
  color: white;
}

.home{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60px;
  width: 60px;
}

.banner img{
  cursor: pointer;
  width: 50%;
}


/* button */
.btn{
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white; 
  padding: 12px 16px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  background-color: var(--button-color);
}

.btn:hover{
  filter: brightness(1.2);
}

.btn:active{
  filter: brightness(0.9);
}

/* input */
input{
  border: none;
  border-bottom: 1px solid var(--secondary);
  padding: 10px;
  margin: 5px;
  outline: none;
}

/* pages */
.list{
  margin: 2vw 10vw 0vw 10vw;
  display: flex;
}

.sec1{
  flex: 1;
}

.sec2{
  flex: 3;
}
.cart-list{
  margin: 5vw 5vw 0vw 5vw;
  display: flex;
  flex-direction: column;
}


/* card */

.card{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid black;
  padding: 15px;
  height: 250px;
}

.card-title{
  font-size: 25px;
}

.card > img{
  margin: 0px 15px 0px 0px;
  height: inherit;
  width: 200px;
  object-fit: cover;
}

.card-body{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}

.card-body :nth-child(2) {
  flex: 1;
}